<%= form_for @group do |f| %>
  <style>
    .modal-content{
      background-color: #f2f5f8;
    }
    .modal-header{
      background-color: #ffffff;
    }
    .modal-rooter{
      background-color: #f2f5f8;
    }
  </style>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel"><font color = "23527C"><strong>Edit Group</strong></font></h4>
  </div>
  <div class="modal-body">
    <% if @group.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @group.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label 'hide results from users' %><br>
      <%= f.check_box :hide_results %>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
  </div>
<% end %>